<div class="container">

  <div class="block" ng *ngFor="let item of items;let i = index" [ngClass]="{'block--flipped': item.flipped}">
      <div class="block__hidden"></div>
      <div class="block__divider">
        <div class="line-top" [ngClass]="{'active': checkPrevItemActive(i), 'hide': isFirstItem(i)} " ></div>
        <div class="marker" [ngClass]="{'active': item.active}"></div>
        <div class="line-bottom" [ngClass]="{'active': item.active, 'hide': isLastItem(i)}" ></div>
      </div>
      <div class="block__content">
        <h3 class="text" [ngClass]="{'text-active': item.active}">{{item.text}}</h3>
      </div>
  </div>
